[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
rethinkdb_mock = "*"

[packages]
nats-py = "*"
rethinkdb = "==2.4.9"

[requires]
python_version = "3"

[scripts]
lint = "python -m pylint kronk"
black = "python -m black kronk"
isort = "python -m isort kronk"
init = "python -m kronk.database"
worker = "python -m kronk.worker"
generate = "python -m kronk.generate_tasks"
distributor = "python -m kronk.distributor"
test = "pytest --cov kronk -v"
