[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
asyncio-nats-client = "*"
rethinkdb = "*"

[requires]
python_version = "3.8"

[scripts]
init = "python database.py"
worker = "python worker.py"
distributor = "python distributor.py"
generate = "python generate_tasks.py"
lint = "python -m flake8"
